html {
  line-height: 1.2em;
  font-family: Verdana;
  font-size: 16px
}
body{
  background-color: #00c0ff;
}
h1 {
  font-size: 2.2em;
  padding-bottom: 0.5em;
  padding-top: 0.25em;
  padding-left: 0.5em;
  margin: auto;

}
legend{
  font-size: 1.3em;
}
fieldset{
  height: 11em;
  background-color: #00dcff;
}
.infield{
  padding: 0.5em;
}
/*Credits to W3 Schools */
.button{
  margin: 0;
  position: absolute;
  right: 37%;
}
/*Credits to W3 Schools*/
.blue{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 0.4em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
@media screen and (min-width: 370px){
  .phoneNum{
	  width: 11em
  }
}
@media screen and (min-width: 480px){
  h1{
	  font-size: 3em;
  }
  legend{
	  font-size: 1.7em;
  }
  .infield{
	  padding: 1em;
  }
  label{
	  font-size: 1.1em;
  }
  .button{
	  right: 40%;
  }
}
@media screen and (min-width: 992px){
  h1{
	  padding-left: 5.75em;
  }
  legend{
	  font-size: 2.25em;
	  position: relative;
	  left: 5%;
  }
  label{
	  font-size: 1.5em;
  }
  fieldset{
	  height: 14em;
  }
  .button{
	  right: 45%;
  }
  label{
	  font-size: 1.75em;
  }
  .blue{
	  padding: 1em 1.5em;
  }
}